<!-- <div class="about">
  <h1 style="font-size: 4rem; color: #ffffff">
    {{ 'navigation.about_us' | transloco }}
  </h1>
</div> -->
<div class="transition-item">
  <div class="image-item">
    <img
      src="../../../assets/image/About-Us-4-1600x800.jpeg"
      style="height: 100vh"
    />
  </div>
  <div class="category-caption">
    <h1 style="font-size: 4rem; color: #ffffff">
      {{ 'navigation.about_us' | transloco }}
    </h1>
  </div>
</div>

<div class="description">
  <div class="about-content">
    <div class="logo">
      <img src="../../../../assets/image/logo.jpeg" />
    </div>
    <div class="paragraph">
      <p>
        متون هي مكتبة إلكترونية شاملة وموثوقة توفر أكثر من 10,000
        كتابا إلكترونيا للاستكشاف والاستمتاع.اكتشف تشكيلتنا المتنوعة
        من الروايات والكتب الأكاديمية والتنمية الشخصية والادب
        الكلاسيكي وغيرها الكثير.استمتع بتجربة قراءة سهلة ومريحة على
        جميع الاجهزة واستفد من العروض والتخفيضات الحصرية.أشتر الأن
        واحصل على وصول فوري لعالم ملئ بالمعرفة والتسلية.
      </p>
    </div>
  </div>
</div>
